.three-items-section {
    width: 100%;
    height: auto;
    padding-top: 7.5em;
    padding-bottom: 7.5em;
    transform: skew(0deg, 2deg);
}

.transform-default {
    transform: skew(0deg, -2deg);
}

.container {
width: 100%;
margin-left: auto;
margin-right: auto;
}